.editor-container {
    z-index: 2;
    position: relative;
}

.posted-by-container {
    height: 50px;
}
.posted-by-container > span:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
    vertical-align: top;
    text-align: left;
    margin-left: 10px;
}

.button-container {
    padding-top: 10px;
    float: right;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

